.bodyfichaTecnica {
    font-family: "Koulen", cursive;
    background: #e60009;
    background-image: url("/images/15172169099255.jpg");
    background-size: 25rem;
    background-repeat: repeat;
    .fichaTecnica {
        width: 90%;
        margin: 5% auto;
        display: grid;
        grid-template-areas:
        "tabla video1"
        "tabla video2";
        grid-template-columns: 50% 50%;
        grid-template-rows: (2, auto);
        gap: 5%;
        .tabla {
            grid-area: tabla;
            text-align: center;
            background-color: black;
            font-size: 1.25rem;
            border: solid #ffffff;
            -webkit-text-stroke: 1px #000000;
            .video1 {
                grid-area: video1;
            }             
            .video2 {
                grid-area: video2;
            }
            th {
                font-size: 2rem;
                color: #ffffff;
                text-align: center;
            }
        }
    }
}

