.bodyFotos {
    background: #e60009;
    font-family: "Koulen", cursive;
    margin-top: 5vh;
    overflow-x: hidden;
    background-image: url("images/15172169099255.jpg");
    background-size: 25rem;
    background-repeat: repeat;
}
