.bodyPrincipal {
    background-image: url("/images/15172169099255.jpg");
    background-size: cover;
    margin-top: 5vh;
    font-family: "Koulen", cursive;
    .imagenPrincipal {
        text-align: center;
        min-height: 100vh;
        .imgAbarth {
            width: 90%;
            height: auto;
        }
    }
}


