.bodyPrincipal {
    background-image: url("images/15172169099255.jpg");
    background-size: 25rem;
    font-family: "Koulen", cursive;
    overflow-x: hidden;
    .imagenPrincipal {
    min-height: 100vh;
        img {
            position: relative;
            top: 20vh;
            width: 100vh;
            margin: 2vw -26vw;
        }
    }
}
